html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        link(rel='stylesheet' href='https://unpkg.com/papercss@1.4.1/dist/paper.css')
        link(rel='stylesheet' href='https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css')
        link(rel='stylesheet' href='./styles/pikkanode.css')
        link(href='https://fonts.googleapis.com/css?family=Athiti' rel='stylesheet')
        title Pikka Node
    body
        nav.flex.justify-between.bb.bg-black-70
            a.link.white-70.hover-white.no-underline.flex.items-center.pa1.ph3(href='/')
                img(src='./images/home.svg' alt='home logo' id='logo')
            .flex-grow.pa1.flex.items-center
                a.f6.link.dib.white.dim.mr3.mr4-ns(href='#0') About
                a.f6.link.dib.white.dim.mr3.mr4-ns(href='/signin') Sign In
                a.f6.dib.white.bg-animate.hover-bg-white.hover-black.no-underline.pv2.ph4.br-pill.ba.b--white-20(href='/signup') Sign Up
        block content