extends layout
block content
    main.pa4.black-80
        form.measure.center(method='post')
            fieldset#sign_up.ba.b--transparent.ph0.mh0
                legend.f4.fw6.ph0.mh0 Sign Up
                .mt3
                    label.db.fw6.lh-copy.f6(for='email-address') Email
                    input#email-address.pa2.input-reset.ba.bg-transparent.hover-bg-black.hover-white.w-100(type='email' name='email-address' required)
                .mv3
                    label.db.fw6.lh-copy.f6(for='password') Password
                    input#password.b.pa2.input-reset.ba.bg-transparent.hover-bg-black.hover-white.w-100(type='password' name='password' required)
                .mv3
                    label.db.fw6.lh-copy.f6(for='confirm-password') Confirm Password
                    input#confirm-password.b.pa2.input-reset.ba.bg-transparent.hover-bg-black.hover-white.w-100(type='password' name='confirm-password' required)
                input.b.ph3.pv2.input-reset.ba.b--black.bg-transparent.grow.pointer.f6.dib(type='submit' value="Sign Up")
            .mt3-ns
                input.b.ph3.pv2.input-reset.ba.b--black.bg-transparent.grow.pointer.f6.dib(type='reset' value='Reset')

